body{
    background-color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: center;
    color: brown;
    text-decoration: underline;
}
h2{
    text-align: center;
}

ul{
    text-align: center;
    list-style: georgian;
}
.container{
    border: 1px solid black;
    background-color: aqua;
}
.header{
    background-image: url(background.jpg);
}

div>h2{
    text-decoration: underline;
}

